<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Imogen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>  
    
    
    
 <add name="Damocles2Entities" connectionString="metadata=res://*/Model.Damocles2Model.csdl|res://*/Model.Damocles2Model.ssdl|res://*/Model.Damocles2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.239.208.106;initial catalog=Damocles2;persist security info=True;user id=ReportitBGAccess;password=d1ct1onary;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <Imogen.Properties.Settings>
      <setting name="ProfileUrlHash" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfileSrcUrlHash" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfileLinkUrlHash" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="FileSavePath" serializeAs="String">
        <value>C:\Users\Dave\Pictures\Imogen</value>
      </setting>
      <setting name="ProfileReportedOn" serializeAs="String">
        <value />
      </setting>
      <setting name="ProfileReportNumber" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfilePossibleFileName1" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfilePossibleFileName2" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="UserUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginRememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestrictedBrowserUserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36</value>
      </setting>
      <setting name="SessionSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SessionSecondsTotal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProfileLinkUrl" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfileSrcUrl" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="ProfileUrl" serializeAs="String">
        <value>...</value>
      </setting>
    </Imogen.Properties.Settings>
  </userSettings>
</configuration>